
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Helvetica Nueve', sans-serif;
    font-size: 1em;
    margin: 0;
  }

  h1 {
    margin: 1em;
    font-weight: lighter;
    width: 50%;
  }

  a {
    color: transparent;
  }

/* HEADER */

  header {
    background-color: #7377bf;
    margin: 0;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  header h1 {
    align-self: center;
    margin-right: auto;
    margin-left: 25px;
    font-size: 1.3em;
    font-weight: 200;
    color: #fff;
  }

  header p {
    align-self: center;
    margin-left: 15px;
    margin-right: 20px;
    color: #fff;
  }

  img.bell-icon {
    width: 42px;
    height: 42px;
    border-right: solid 1px #202020;
    padding-right: 15px;
  }

  img.avatar {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-left: 25px;
  }

  img.bell-icon,
  img.avatar {
    align-self: center;
  }

/* NAV */

  nav {
    background-color: rgb(75, 75, 113);
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .grid-1 li {
   display: inline-block;
 }

  .dashboard-icon,
  .members-icon,
  .visits-icon,
  .settings-icon {
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 1.5rem;
  }

  .grid-2 li {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
  }

  .grid-2 li:nth-last-child(1) {
    margin-right: 4em;
  }

  .time {
    text-align: right;
  }

  .green {
    background-color: #81c98f;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }

  .alert {
    background-color: #7377bf;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    width: 85%;
    margin: 2em;
  }

  .search-bar,
  .alert {
    width: 80%;
    margin: 1em 2em;
  }

  .alert {
    font-size: .75em;
  }

  .search-icon {
    margin-left: -4em;
  }

  .chart-container {
    width: 90vw;
    position: relative;
  }

  .widget {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    margin: 1rem 3rem;
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;
}

  .grid-5 svg {
    background-color: #7477bf;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: flex-start;

  }

  .card-header {
    text-transform: uppercase;
    margin-left: 1rem;
    color: grey;
    font-size: 1rem;
  }

  .social-card {
    color: #7377bf;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .social-data {
    color: black;
    font-size: 1.8rem;
  }

  .search-for-user {
    padding: 1em;
    display: block;
    width: 80%;
    margin: 1em;
    border-radius: 5px;
    background-color: rgb(219, 218, 218);
    border-style: none;
  }

  .message {
    padding: 1em;
    height: 200px;
    width: 80%;
    margin: 1em;
    border-radius: 5px;
    background-color: rgb(219, 218, 218);
    border-style: none;
  }

  .send,
  .save {
    display: block;
    width: 80%;
    margin: 1em;
    background-color: rgb(75, 75, 113);
    padding: 1em;
    color: white;
    border-radius: 5px;
  }

  .cancel {
    display: block;
    width: 80%;
    margin: 1em;
    background-color: rgb(181, 181, 181);
    padding: 1em;
    color: white;
    border-radius: 5px;
  }

  .dropdown {
    width: 80%;
    margin: 1em;
    padding: 2em;
    font-size: 1.15em;
    border-radius: 5px;
    background-color: rgb(181, 181, 181);
    color: white;
  }

  .member-container {
    width: 80%;
  }

   .arrow {
     color: rgb(181, 181, 181);
   }

  .setting {
    display: block;
    margin: .75em;
  }

  .setting-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }


  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1em;
  padding: 1em;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(75, 75, 113);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(75, 75, 113);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* NEW MEMBERS */

.members {
  width: 100%;
}

.member img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.member {
  display: flex;
  justify-content: space-between;
  font-size: 70%;
  padding: 10px;
}

.member:not(:last-of-type){
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
}

.member
.name,
.date,
.symbol {
  margin-top: 6px;
}

.member
.name a {
  text-decoration: none;
  display: block;
  color: #7477bf;
}

.member .info {
  width: 68%;
  display: flex;
}

/************ RECENT ACTIVITY *************/

.grid-item-9
.member
.info {
  width: 80%;
}

.post-time {
  font-style: italic;
  font-size: 80%;
}

.symbol p {
  font-size: 260%;
  color: #7477bf;
  font-weight: 300;
}



   /* GRID */

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(20px, auto);
    grid-template-areas:
    "header"
    "nav"
    "traffic"
    "daily"
    "mobile"
    "social"
    "new"
    "recent"
    "message"
    "settings"
  }


  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  .grid-2 {
    grid-area: traffic;
  }

  .grid-3 {
    grid-area: daily;
  }

  .grid-4 {
    grid-area: mobile;
  }

  .grid-5 {
    grid-area: social;
  }

  .grid-6 {
    grid-area: new;
  }

  .grid-7 {
    grid-area: recent;
  }

  .grid-8 {
    grid-area: message;
  }

  .grid-9 {
    grid-area: settings;
  }

/* TABLET */
@media (min-width: 762px) {
  body {
  
  }

  .search-bar,
  .alert {
    width: 80%;
    margin: 1em 2em;
  }

  .search-icon {
    margin-left: -4em;
  }

  .search-for-user {
    padding: 1em;
    display: block;
    width: 80%;
    margin: 1em 3em;
    border-radius: 5px;
  }

  .message {
    padding: 1em;
    height: 200px;
    width: 80%;
    border-radius: 5px;
    margin: 1em 3em;
  }

  .send {
    display: block;
    width: 80%;
    margin: 1em 3em;
    background-color: rgb(75, 75, 113);
    padding: 1em;
    color: white;
    border-radius: 5px;
  }

  .save,
  .cancel,
  .dropdown {
    margin: 1em 3em;
  }


}

/* DESKTOP  */

@media (min-width: 1024px) {

  .grid {
    display: grid;
    grid-template-columns: .12fr repeat(2, 1fr);
    grid-template-areas:
    "header     header         header"
    "nav        traffic       traffic"
    "nav         daily         mobile"
    "nav         social       social"
    "nav         new           recent"
    "nav         message       settings"
  }


  .grid-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 4rem;
  }

  .grid-1 li {
   margin: 2rem 1rem;
   margin-left: -3rem;
 }

 .search-container {
   display: flex;
   justify-content: flex-end;
   margin-top: -1rem;
 }

 .search-bar {
   padding: .5rem;
   width: 30%;
   border-radius: 5px;
 }

 .search-icon {
  margin-left: -2rem;
  margin-top: .75rem;
 }


  .search-for-user {
    display: block;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
  }

  .message {
    display: block;
    padding: 2rem;
    width: 80%;
    margin: auto;
  }

  .send {
    width: 80%;
    padding: 1rem;
    background-color: rgb(75, 75, 113);
    color: white;
    margin: 3rem 4rem;
    border-radius: 5px;
  }

  .grid-9 {
    width: 80%;
  }

  .save {
    background-color: rgb(75, 75, 113);
    padding: 1rem;
    color: white;
    border-radius: 5px;
    width: 45%;
  }

  .cancel {
    background-color: grey;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    width: 45%;
  }

  .save,
  .cancel {
    margin: 0;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .dropdown  {
    border-radius: 5px;
    width: 80%;
    margin: 2rem;
  }

  .widget {
    width: 250px;
    height: 100px;
    display: inline-block;
  }

  .widget svg {
  }
