
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Helvetica Nueve', sans-serif;
    font-size: 1em;
    margin: 0;
  }

  h1 {
    margin: 1em;
    font-weight: lighter;
    width: 50%;
  }

  a {
    color: transparent;
  }

/* HEADER */

  header {
    background-color: #7377bf;
    margin: 0;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  header h1 {
    align-self: center;
    margin-right: auto;
    margin-left: 25px;
    font-size: 1.3em;
    font-weight: 200;
    color: #fff;
  }

  header p {
    align-self: center;
    margin-left: 15px;
    margin-right: 20px;
    color: #fff;
  }

  img.bell-icon {
    width: 42px;
    height: 42px;
    border-right: solid 1px #202020;
    padding-right: 15px;
  }

  .bell-icon:hover {
    transform: scale(1.2);
    transition: .5s ease-in-out;
  }

  img.avatar {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-left: 25px;
  }

  img.bell-icon,
  img.avatar {
    align-self: center;
  }

/* NAV */

  nav {
    background-color: rgb(75, 75, 113);
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .grid-1 li {
   display: inline-block;
 }

  .dashboard-icon,
  .members-icon,
  .visits-icon,
  .settings-icon {
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 1.5rem;

  }

  .grid-2 li {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
  }

  .grid-2 li:nth-last-child(1) {
    margin-right: 3em;
  }

  .time {
    text-align: right;
    font-size: 1em;
  }

  .green {
    background-color: #81c98f;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }

  .alert {
    background-color: #7377bf;
    color: white;
    border-radius: 5px;
    width: 85%;
    margin: 1em;
  }

  .cross {
    cursor: pointer;
    font-size: .75em;
    width: 10%;
  }

  .search-bar {
    border-style: none;
    background-color: #ccc;
  }

  .search-bar,
  .alert {
    width: 80%;
    margin: 1em 2em;
    padding: .75em;
  }

  .alert-container {
    display: flex;
    justify-content: space-between;
  }

  .search-icon {
    margin-left: -4em;
  }

  .line-container {
    width: 90vw;
    position: relative;
  }

  .other-container {
    width: 90vw;
    position: relative;
  }

  .widget {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    margin: 1rem;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
}

  .card-header {
    text-transform: uppercase;
    margin-left: 1rem;
    color: grey;
    font-size: 1rem;
  }

  .social-card {
    color: #7377bf;
    font-weight: 700;
    font-size: 1.2rem;
  }


  .social-icon {
    background-color: #7477bf;
    transform-origin: 50% 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .widget path {

  }

.social-info p:first-child {
  color: #7477bf;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.social-info p:last-child {
  color: #777;
  font-weight: 300;
  text-align: right;
}

.data {
  font-size: 2.5rem;
  margin: 0;
}

  .search-for-user {
    padding: 1em;
    display: block;
    width: 80%;
    margin-left: 2rem;
    border-radius: 5px;
    background-color: rgb(219, 218, 218);
    border-style: none;
  }

  .message {
    padding: 1em;
    width: 80%;
    height: minmax(200px);
    margin: 1em 2em;
    border-radius: 5px;
    background-color: rgb(219, 218, 218);
    border-style: none;
  }

  .send,
  .save {
    display: block;
    width: 80%;
    margin: 1em 2em;
    background-color: rgb(75, 75, 113);
    padding: 1em;
    color: white;
    border-radius: 5px;
  }

  .cancel {
    display: block;
    width: 80%;
    margin: 1em 2em;
    background-color: rgb(181, 181, 181);
    padding: 1em;
    color: white;
    border-radius: 5px;
  }

  .dropdown {
    width: 80%;
    margin: 1em 2em;
    padding: 2em;
    font-size: 1.15em;
    border-radius: 5px;
    background-color: rgb(181, 181, 181);
    color: white;
  }

   .arrow {
     color: rgb(181, 181, 181);
   }

  .setting {
    display: block;
    margin: .75em;
  }

  .setting-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }


  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1em;
  padding: 1em;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(75, 75, 113);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(75, 75, 113);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******** NEW MEMBERS ********/

.grid-6 {
  /* width: 80%; */
  /* margin-left: 2rem; */
}


.member img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.member {
  display: flex;
  justify-content: space-between;
  font-size: 70%;
  padding: 10px;
}

.member:not(:last-of-type){
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
}

.member
.name,
.date,
.symbol {
  margin-top: 6px;
}

.member
.name a {
  text-decoration: none;
  display: block;
  color: #7477bf;
}

.member
.info {
  display: flex;
}



/************ RECENT ACTIVITY *************/

  .members {
    width: 100%;
  }


.member
.info {
  width: 80%;
}

.info {

}

.post-time {
  font-style: italic;
  font-size: 80%;
}

.symbol p {
  font-size: 260%;
  color: #7477bf;
  font-weight: 300;
}

 .grid-7 h2,
 .grid-6 h2 {
   /* margin-right: 1rem; */
 }


   /************ GRID ************/

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(20px, auto);
    grid-template-areas:
    "header"
    "nav"
    "traffic"
    "daily"
    "mobile"
    "social"
    "new"
    "recent"
    "message"
    "settings"
  }


  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  .grid-2 {
    grid-area: traffic;
    padding: 1rem;
    border-bottom: 1px solid #b2b2b2;
  }

  .grid-3 {
    grid-area: daily;
    padding: 1rem;
    border-right: 1px solid #b2b2b2;
  }

  .grid-4 {
    grid-area: mobile;
    border-top: 1px solid #b2b2b2;
  }

  .grid-5 {
    grid-area: social;
    padding: 1rem;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
  }

  .grid-6 {
    grid-area: new;
    padding: 1rem;
    border-right: 1px solid #b2b2b2;
    /* border-top: 1px solid #b2b2b2; */
  }

  .grid-7 {
    grid-area: recent;
    padding: 1rem;
    border-top: 1px solid #b2b2b2;
  }

  .grid-8 {
    grid-area: message;
    border-top: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
  }

  .grid-9 {
    grid-area: settings;
    padding: 1rem;
    border-top: 1px solid #b2b2b2;
  }

/* TABLET */
@media (min-width: 762px) {
  body {

}

.line-container {
  width: 90vw;
  position: relative;
}

.other-container {
  width: 60vw;
  position: relative;
  top: 0;
  bottom: 25%;
  right: 25%;
  left: 25%;
}

  .search-bar,
  .alert {
    width: 80%;
    margin: 1em 2em;
  }

  .search-icon {
    margin-left: -4em;
  }

  .search-for-user {
    padding: 1em;
    display: block;
    width: 80%;
    margin: 1em 3em;
    border-radius: 5px;
  }

  .message {
    padding: 1em;
    width: 80%;
    border-radius: 5px;
    margin: 1em 3em;
  }

  .send {
    display: block;
    width: 80%;
    margin: 1em 3em;
    background-color: rgb(75, 75, 113);
    padding: 1em;
    color: white;
    border-radius: 5px;
  }

  .save,
  .cancel,
  .dropdown {
    margin: 1em 3em;
  }

  .social-widgets {
  display: flex;
  justify-content: space-between;
}

.widget {
  width: 30%;
}


}

/* DESKTOP  */

@media (min-width: 1024px) {

  .grid {
    display: grid;
    grid-template-columns: .12fr repeat(2, 1fr);
    grid-template-areas:
    "header     header         header"
    "nav        traffic       traffic"
    "nav         daily         mobile"
    "nav         social       social"
    "nav         new           recent"
    "nav         message       settings"
  }


  .grid-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 4rem;
  }

  .grid-1 li {
   margin: 2rem 1rem;
   margin-left: -3rem;
 }

 .line-container {
   width: 90vw;
   position: relative;
 }

 .other-container {
   width: 45vw;
   position: relative;
   top: 0;
   bottom: 25%;
   right: 25%;
   left: 0;
 }

 .search-container {
   display: flex;
   justify-content: flex-end;
   margin-top: -1rem;
 }

 .search-bar {
   padding: .5rem;
   width: 30%;
   border-radius: 5px;

 }

 .search-icon {
  margin-left: -3.5rem;
  margin-top: 1.5rem;
 }

  .search-for-user {
    display: block;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
  }

  /* .member-container {
    margin: 0;
  } */

  .message {
    display: block;
    padding: 2rem;
    width: 80%;
    margin: auto;
  }

  .send {
    width: 80%;
    padding: 1rem;
    background-color: rgb(75, 75, 113);
    color: white;
    margin: 3rem 4rem;
    border-radius: 5px;
  }

  .save {
    background-color: rgb(75, 75, 113);
    padding: 1rem;
    color: white;
    border-radius: 5px;
    width: 45%;
  }

  .cancel {
    background-color: grey;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    width: 45%;
  }

  .save,
  .cancel {
    margin: 0;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .dropdown  {
    border-radius: 5px;
    width: 80%;
    margin: 0 2rem 4.7rem 2rem;
  }

  .grid-7,
  .grid-4 {
    border: none;
  }

  /* .data {
    font-size: 2.5rem;
    margin: 0;
  } */
